## **Twitter data analysis Using pandas case study**

<img src="logo.png" alt="Drawing" style="width: 200px;"/>

<br>

First, we will import several necessary Python packages. We will be using the <a href="http://pandas.pydata.org/">Python Data Analysis Library,</a> or <i>PANDAS</i>, extensively for our data manipulations. It is invaluable for analyzing datasets.

**Instruction for this case study:**

**You have to fill the commands , for your help hints are provided**

**All the best !!**

### Import packages
(hint: pandas , numpy)

<br>

PANDAS allows you to set various options for, among other things, inspecting the data. I like to be able to see all of the columns. Therefore, I typically include this line at the top of all my notebooks.

(hint: pd.set_option('display.max_columns', None))

In [37]:
#Set PANDAS to show all columns in DataFrame

<br>
Check which version of various packages we're using.

### Read in data

PANDAS can read in data from a variety of different data types. If you've followed some of my earlier tutorials you have downloaded tweets into an SQLite database, then converted to a CSV file. That's what we have here. We have a set of tweets by <i>Fortune 200</i> firms. So, in the following three lines we'll first import the CSV file and assign it to the name 'df' -- short for 'dataframe', the PANDAS name for a dataset. Second, we'll use the <i>len</i> function to see how many rows (tweets) there are in the dataset; there are 34,097 tweets in total. Finally, we will use the <i>head</i> function to show the first two rows of the dataset. 

file_name = 'CSR_user_timeline_2013'

format = '.csv'

tasks : 

1.) Read the data file

2.) visualize the data

<br>

List all the columns in the DataFrame

<br> See how many columns there are in the dataframe

<br> Inspect the format for our columns. We can see that some are integers, some are 'float' (can have a decimal), and some are 'objects' (text). If you have a identifying text variable that has accidentally been imported as a float, for instance, that could cause problems down the road, so you should fix it before continuing.

### Remove Unneeded Columns

Every researcher will have different preferences about keeping or deleting unneeded columns. You might want to delete variables to make your dataset cleaner, you might want to save memory, or you might want a smaller dataset for some specific analyses. In any case, we can use the command to delete individual columns. Let's drop six that are not needed here. The first two have duplicate columns in another format, while the latter four all have zero variation (all are blank).

Remove these columns :

created_at_text

tweet_id

withheld_in_countries

withheld_scope

truncated

possibly_sensitive

<br>Now inspect the no. of columns left in the dataframe

Visualize the data

<br> Now create a new dataframe and keep only the following columns using the previous data frame

created_at

from_user_screen_name

retweet_count

<i>(hint:the double square brackets -- "[[...]]" -- in PANDAS forms a dataframe representation)</i>

### View Twitter Accounts Represented in DF

Select unique Twitter accounts are represented in the dataset.

(hint: use column from_user_screen_name)

<br>Find the number of unique twitter accounts

### Remove Tweets from One Specific Account

We want to get rid of all tweets by <i>TICalculators</i> from the dataframe. Unlike the other Twitter accounts in the dataset, this account is not a CSR-related account.

Check how many tweets are not sent by <i>TICalculators</i>

<br>We should then also check how many tweets <i>are</i> sent by <i>TICalculators</i>

### Remove Tweets by TICalculators

In the next block of code we will create a new version of our dataframe, this time limiting it to only those tweets that are not sent by <i>TICalculators</i>.

<br>Now let's check again for all the unique accounts in the dataframe -- as you can see, <i>TICalculators</i> is gone and there are now 41 accounts.

<br>We now have our new dataframe without TICalculators.

### Save the New cleaned DataFrame

We will now save the dataframe in PANDAS' native format. It's called 'pickling' a file, so we'll give it the typical 'pkl' extension.

stacklabs.io